{{#partial "content"}}

    <div class="title">
        <!-- Home Section -->
            <section id="Home">
                <div class="heading">
                    <h1 class="headings">Agri-Sale</h1>
                    <a href="#order">
                        <button class="btn">
                    Shop Now
                </button>
                    </a>
                </div>
            </section>
            <br/>
    </div>

{{/partial}}

{{> layout.hbs}}