<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}AGRI-SALE{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/feedback.css">
    <link rel="stylesheet" href="/css/checkout.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/success.css">
    <link rel="canonical" href="https://angara-2.myshopify.com/">
    <link rel="canonical" href="https://angara-2.myshopify.com">
    <link rel="preconnect" href="//fonts.shopifycdn.com/" crossorigin>
    <link rel="preconnect" href="//cdn.shopify.com/" crossorigin>
        <link rel="dns-prefetch" href="//angara-2.myshopify.com" crossorigin>
        <link rel="dns-prefetch" href="//angara-2.myshopify.com" crossorigin>
        <link rel="dns-prefetch" href="//cdn.shopify.com" crossorigin>
        <link rel="dns-prefetch" href="//fonts.shopifycdn.com" crossorigin>
        <link rel="dns-prefetch" href="//fonts.googleapis.com" crossorigin>
        <link rel="dns-prefetch" href="//ajax.googleapis.com" crossorigin>
        <link rel="dns-prefetch" href="//code.jquery.com" crossorigin>
        <link rel="dns-prefetch" href="//via.placeholder.com" crossorigin>
        <link rel="preload" href="//cdn.shopify.com/s/files/1/0011/9868/6266/t/7/assets/plugins.css?v=12512520264989053476" as="style">
        <link rel="preload" href="//cdn.shopify.com/s/files/1/0011/9868/6266/t/7/assets/theme.scss.css?v=5049447257263206611" as="style">
        <link rel="preload" href="//cdn.shopify.com/s/files/1/0011/9868/6266/t/7/assets/style.min.css?v=6859094393691285574" as="style">
        <link rel="preload" href="//cdn.shopify.com/s/files/1/0011/9868/6266/t/7/assets/theme-settings.css?v=17866703569367903117" as="style">
        <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0011/9868/6266/files/fev_32x32.png?v=1622260057" type="image/png" />
        <link href="//cdn.shopify.com/s/files/1/0011/9868/6266/t/7/assets/plugins.css?v=12512520264989053476" rel="stylesheet" type="text/css" media="all">
            <link href="/css/styles.css" rel="stylesheet" type="text/css" media="all">
            <link href="//cdn.shopify.com/s/files/1/0011/9868/6266/t/7/assets/swiper-bundle.min.css?v=14389302575051414658" rel="stylesheet" type="text/css" media="all">
            <link href="//cdn.shopify.com/s/files/1/0011/9868/6266/t/7/assets/animate.css?v=13118307868719158062" rel="stylesheet" type="text/css" media="all">
            <link href="//cdn.shopify.com/s/files/1/0011/9868/6266/t/7/assets/pe-icon-7.css?v=10792001570613932968" rel="stylesheet" type="text/css" media="all">
            <link href="//cdn.shopify.com/s/files/1/0011/9868/6266/t/7/assets/theme.scss.css?v=5049447257263206611" rel="stylesheet" type="text/css" media="all">
            <link href="//cdn.shopify.com/s/files/1/0011/9868/6266/t/7/assets/style.min.css?v=6859094393691285574" rel="stylesheet" type="text/css" media="all">
            <link href="//cdn.shopify.com/s/files/1/0011/9868/6266/t/7/assets/theme-settings.css?v=17866703569367903117" rel="stylesheet" type="text/css" media="all">

</head>
<body>

<div class="main-header  header-sticky  d-none d-lg-block">
    <div class=" container ">
        <div class="site-main-nav">
            <nav class="site-nav center-menu">
                <ul>
                    <li><a href="/">Home</a></li>

                    <li><a href="/feedback">Feedback</a></li>
                    <li><a href="/checkout">Checkout</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<hr>

<!--begin main template-->

<div class="main-content">
    {{#block "content"}}
    {{/block}}

</div>

<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}