<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}AGRI-SALE{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

<div id="nav">
    <a href="#">HOME</a>
    <a href="#">PRODUCTS</a>
    <a href="#">CONTACTS</a>
</div>

<hr>

<!--begin main template-->

<div class="main-content">
    {{#block "content"}}
    {{/block}}

</div>

<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}