<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}AGRI-SALE{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/feedback.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="main-header  header-sticky  d-none d-lg-block">
    <div class=" container ">
        <div class="site-main-nav">
            <nav class="site-nav center-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="products.hbs">Products<span>NEW</span></a>

                    </li>
                    <li><a href="feedback.hbs">Feedback</a></li>

                    <li><a href="checkout.hbs">Checkout</a></li>
                </ul>

            </nav>
        </div>
    </div>
</div>

<hr>

<!--begin main template-->

<div class="main-content">
    {{#block "content"}}
    {{/block}}

</div>

<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}