{{#partial "styles"}}
    <link rel ="stylesheet" href=/css/success.css>
{{/partial}}

{{#partial "content"}}
    <div class="container" style="margin-left: 130px;">
        <div class="row success-parent-container ml-3">
            <div class="col-md-6 img-success ">
                <img src="https://cdn.pixabay.com/photo/2012/04/11/17/31/vegetables-29063__340.png" alt="">
            </div>
            <div class="col-md-6 success-child-container" style="margin-top: 120px">
                <p id="heading-success" style="font-size:2rem;">You have successfully submitted the form</p>
                <div class="buttons">
                    <a href="/">
                        <button class="btn btn-primary" style="font-size: 1.5rem;">Return Home</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
{{/partial}}

{{> layout.hbs}}